.preorder-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.preorder-form > h2 {
  margin: 0;
}
.form-control {
  margin: 0.2%;
  padding: 6px 12px;
  min-width: 300px;
  border-radius: 3px;
  border: 1px solid grey;
  font-size: 16px;
}
.preorder-form__btn {
  padding: 6px 12px;
  border: 2px solid green;
  color: green;
  font-size: 16px;
  border-radius: 6px 3px;
  margin: 0.3%;
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: 0.3s;
}
.preorder-form__btn:hover {
  border-color: greenyellow;
  background-color: greenyellow;
  color: black;
  border-radius: 8px;
  transition: 0.3s;
}
